<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.v24.recycle">


    <application
        android:allowBackup="true"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recycle"
        tools:targetApi="lollipop">
        <activity android:name=".Bluetoothemodule.DeviceListActivity"></activity>
        <activity android:name=".Bluetoothemodule.ListofAllbluetoothe" />
        <activity android:name=".Splacescreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".printticket"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>
        <activity android:name=".Aboutus" />
        <activity android:name=".Dasboard"

            />
        <activity android:name=".MainActivity"
            android:launchMode="standard"/>
    </application>
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

</manifest>